*{
    
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Lobster', cursive;
    
    
}
h3{
     font-family: 'Cedarville Cursive', cursive;
}
#projects{
     font-family: 'Cedarville Cursive', cursive;
}
p{
  font-family: 'Lobster', cursive;  
}